hr { 
 width:400px;
 margin:25px 0;
}    


button  {
     width: 210px; 
     font-size:15px;
     height:45px;
     border-radius: 5px;


}
button:hover 
input {

width:200px ;
font-size: 15px;
#edit-view {
}
display:none;

}